body {
    background-color: #000;
    color: #00ff00;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.options button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.options button:last-child {
    background-color: #000;
}

.form-container {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #fff;
}

input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #000;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.quotes h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4caf50;
}

.quotes p {
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
    margin-bottom: 1rem;
}
